{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'explainable/style.css' %}" />

<h5><a href="{% url 'explainable:index' %}">   < back    </a></h5>
<h1 style="text-decoration: underline {{ module.module_color }};">{{ module.module_title }}</h1>
<h4>{{ module.module_description }}</h4>

{% if stage == 1 %}
  <p><b>Step 1:</b> Upload a dataset. . .</p>
  <form action="{% url 'explainable:flip' stage=2 %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="data" />
    <input type="Submit" value="Upload" />
  </form>
  <p>. . .or choose from previously uploaded datasets:</p>

{% elif stage == 2 %}
  <p><span class="completed-step">Step 1:</span> File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  <p><b>Step 2:</b> Choose a model to train on your data:</p>
  <ul class="list-horizontal">
  {% for model in models %}
    <form method="post" action="{% url 'explainable:flip' stage=3 %}">
      {% csrf_token %}
      <input type="hidden" name="selected_model" value="{{ model.model_name }}" />
      <input type="hidden" name="uploaded_file_url" value = "{{ uploaded_file_url }}" />
      <li style="background-color: {{ model.model_color }}"><a href="#" onclick="document.forms[0].submit(); return false;">{{ model.model_name }}</a></li>
    </form>
  {% endfor %}
  </ul>

{% elif stage == 3 %}
  <p><span class="completed-step">Step 1:</span> File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  <p><span class="completed-step">Step 2:</span> Model chosen: <b>{{ selected_model }}</b></p>
  <p><b>Step 3:</b> Please indicate which features are integer-typed (assuming the remaining features are string-typed and that the last column is the label):</p>
  <form method="post" action = "{% url 'explainable:flip' stage=4 %}">
    {% csrf_token %}
    <ul class="list-horizontal">
      {% for index in features %}
        <li><input type="checkbox" name="{{ index }}" value="{{ index }}">{{ index }}</li>
      {% endfor %}
      <input type="hidden" name="selected_model" value="{{ selected_model }}" />
      <input type="hidden" name="uploaded_file_url" value = "{{ uploaded_file_url }}" />
      <input type="hidden" name="num_features" value = "{{ num_features }}" />
      <li><input type="submit" value="Done"></li>
    </ul>
  </form>

{% elif stage == 4 %}
  <p><span class="completed-step">Step 1:</span> File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  <p><span class="completed-step">Step 2:</span> Model chosen: <b>{{ selected_model }}</b></p>
  <p><span class="completed-step">Step 3:</span> Feature types specified.</p>
  <p><b>All Ready!</b> Enter an observation point to be explained (format as a list without brackets):</p>
  <form method="post" action = "{% url 'explainable:flip' stage=5 %}">
    {% csrf_token %}
    <input type="text" placeholder="100, 35.5, 'John'" name="observation">
    <input type="hidden" name="selected_model" value="{{ selected_model }}" />
    <input type="hidden" name="uploaded_file_url" value = "{{ uploaded_file_url }}" />
    <input type="hidden" name="int_idxs" value = "{{ int_idxs }}" />
    <input type="hidden" name="str_idxs" value = "{{ str_idxs }}" />
    <input type="submit" value="Submit">
  </form>

{% elif stage == 5 %}
  <p><span class="completed-step">Step 1:</span> File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  <p><span class="completed-step">Step 2:</span> Model chosen: <b>{{ selected_model }}</b></p>
  <p><span class="completed-step">Step 3:</span> Feature types specified.</p>
  <p><b>All Ready!</b> Enter an observation point to be explained (format as a list without brackets):</p>
  <form method="post" action = "{% url 'explainable:flip' stage=5 %}">
    {% csrf_token %}
    <input type="text" placeholder="100, 35.5, 'John'" name="observation">
    <input type="hidden" name="selected_model" value="{{ selected_model }}" />
    <input type="hidden" name="uploaded_file_url" value = "{{ uploaded_file_url }}" />
    <input type="hidden" name="int_idxs" value = "{{ int_idxs }}" />
    <input type="hidden" name="str_idxs" value = "{{ str_idxs }}" />
    <input type="submit" value="Submit">
  </form>
  <div style="width:1200;height:800">
  {{ chart|safe }}
  </div>

{% else %}
  <p>Something went wrong...</p>

{% endif %}
