{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'explainable/style.css' %}" />

<h1>Explainable AI</h1>
<h2>Modules</h2>
{% if modules %}
    <ul class="list-horizontal">
    {% for module in modules %}
        {% with "explainable:"|add:module.module_route as route_url %}
        <li style="background-color: {{ module.module_color }}"><a href="{% url route_url stage=1 %}">{{ module.module_title }}</a></li>
        {% endwith %}
    {% endfor %}
    </ul>
{% else %}
    <p>No modules are currently available.</p>
{% endif %}
